@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');


:root {
  --color-primaray: rgb(9, 112, 42);
  --color-dark: hsl(252, 30%, 17%);
  --color-light: hsl(252, 30%, 95%);
  --color-grey: hsl(252, 15%, 60%);
  --color-white: rgba(251, 250, 254, 0.944);
  --color-danger: red;
  --color-secondary: rgb(112, 103, 103);

  --border-radius: 2rem;
  --card-border-radius: 1rem;
  --btn-padding: 0.6rem 2rem;
  --search-padding: 0.6rem 1rem;
  --card-padding: 1rem;

  --sticky-top-left: 5.4rem;
  --sticky-top-right: -18rem;
}


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;

}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-dark);
  background: var(--color-light);
  overflow-x: hidden;
  width: 100vw;



}

.App {
  width: 100vw;
  height: 100vh;
  background: var(--color-light);
  overflow-x: hidden;
}

.App::-webkit-scrollbar {
  display: none;
}